html{
	cursor:url("../images/feather.png"),auto;
	height: 100%;
}
Button{
	cursor:url("../images/feather-ink.png"),auto;
}

.menu li {
	list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.menucenter {
	margin-left: 450px;
}

.menucenter {
	position:fixed;
	top: 400px;
	z-index: 1;
}

li {
  float: left;
}

.gap {
	height: 120px;
}

.style1 {
	clear: left;
}
.style1{
	margin:auto;
	max-width: 60%;
}

style1 {

}

h2{
	margin: 0;
	padding: 0.5;
	border-radius: 25px;
	
}
body{
	
	background-repeat:;
	background-color:;
	font-size:x-large;
	font: sans-serif;
	color: black;
	line-height: 1.5;	
	margin: 0px;
}

main{
	width: 100%;
	background-image: url("../images/background-scroll.png");
	background-size:cover;
	align-items: center;
	align-items: center;
	
}

.scroll {
	background-image: ;
	height: 80%;
	background-repeat: no-repeat;
     background-position: center center;
     background-attachment: fixed;
     background-size: cover;
}
#myVideo {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
	background-size:cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }

table{
	background-image:"background-scroll" ;
	margin-left: auto;
	margin-right: auto;
	background-color: ;
	width: 800px;
	align-content: center;
}

/bannerimg{
	
}

h1banner{
	
	
	color:antiquewhite;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif"Narrow;
	align-content: center;
	text-align: center;
	text-shadow: #000000 1px 0 10px;
	
	z-index: 20;
	position: relative;
	top: -200px;
}*/

image{
	position: relative;
	padding: 0px;
	margin: 0px;
    
}

.image img{
	width: ;
	z-index: 1;    
    position: center;
    top:35px;
    right:50;  
	left: 10;
	border: 3px solid red;
   
}

h1{
	color:antiquewhite;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif"Narrow;
	align-content: center;
	text-align: center;
	text-shadow: #000000 1px 0 10px;
}
h2{
	color:#ff6600;
	background-color:;
	font-family: Sans-serif;
	align-content: center;
	text-align: center;
	
}
h3{
	
	background-color:#E31519;
	color:#FF9A08;
	text-shadow: #000000 1px 0 10px;
		border-radius: 10px;
}
li a:link{
	color: #ff6600;
}
li a:visited{
	color: blue ;
}
li a:hover{
	color: #ffcc99 ;
  	text-decoration: underline ;
}
li a:active{
	color: #ff6600;
}

p a:link{
	color: blue;
}
p a:visited{
	color: red ;
}
p a:hover{
	color: #ffcc99;
  	text-decoration: underline;
	background-color:#ff6600;
}
p a:active{
	color: hotpink;
	background-color:none;
}

.style2{
	line-height: 0.4cm;
	padding:5px;
	text-align: left;
	font-size: small;
	color: black; 
	text-shadow: #E19526 5px 0 5px;
}
.menu{
	font-size: small;
	font: "arial narrow";
}
ul li{
	list-style-type:none;
}
ul a{
	font-size: large;
	display: block;
	padding:0;
	color: #ff6600;
	list-style-type: none;
}
ul a:hover{
	text-decoration: underline, overline;
	background-color:#ff6600;
	color: #ffffff;
}
